@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --color-bg:rgba(206, 65, 13, 0.596);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#banner
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
#banner .bg
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 0;

}
#banner .overlay
{
    position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(2, 9, 32, 0.945);
   opacity: 0.5;
   z-index: 1;
}
#banner .logo
{
    position: absolute;
    top:  10%;
    left: 7%;
    z-index: 4;
    width: 200px;
}
#banner .text__button-home
{
    position: relative;
    z-index: 4;
    color: #fff;
    margin: auto;
    padding: 10px 10px;
    margin-bottom: 42vh;
    
}
#banner .text__button-home h1
{
    font-size: 60px;
    margin-bottom: 30px;
}
#banner .text__button-home p
{
    width: 70%;
    margin: auto;
}
 .btn
{ position: relative;
 color: #fff;
 text-decoration: none;
 top: 60px;
 padding: 10px 30px;
 font-size: 20px;
 border: 2px solid #fff;
 transition: linear 0.2s;
}
 .btn::before
{
    content: "";
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #fff;
    top: 50%;
    left: -15%;
    
}
 .btn::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #fff;
    top: 50%;
   right: -15%;
}
.btn:hover
{
    background-color:var(--color-bg);
}
#banner .nav-menu-home
{
   position: absolute;
   top:  10%;
   right: 200px;
   z-index: 4;
   display: flex;
   justify-content: space-between;
   width: 25%;
   list-style: none;
}
#banner .nav-menu-home li .nav-element{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0 10px;

}
#banner .nav-menu-home li .nav-element:hover
{
    color: var(--color-bg);
}
/*responsive*/
.menu-responsive
{
    position: fixed;
    width: 60%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    right: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    transform: translateX(100%);
    transition: transform linear 0.2s ;
}
.menu-responsive .close-btn,
.menu-btn
{
    width: 30px;
    position: absolute;
    top:6%;
    right: 10px;
    z-index: 10;
    filter: invert(1);
    
}
.menu-btn
{   position: fixed;

    display: none;
    
}
.menu-responsive .nav-menu-home-responsive
{
    position: absolute;
    top:20%;
    list-style:none;
    left: 10%;
    text-align: justify;
    z-index: 10;
   
}
.menu-responsive .nav-menu-home-responsive li
{
    padding: 20px 10px;
    
}
.menu-responsive .nav-menu-home-responsive li .nav-element
{
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}
.menu-responsive .nav-menu-home-responsive li .nav-element:hover
{
    color: var(--color-bg);
}
.overlay_responsive
{
   position: fixed;
   background: rgba(8, 7, 7, 0.76);
   height: 100%;
   top: 0;
   left: 0;
   width: 60%;
   z-index: 4;
   opacity: 0;
   transition: all linear .25s ;
   display: none;
   
}
.menu-responsive.active
{
    transform: translateX(0%);
}
.overlay_responsive.active
{
    opacity: 1;
    
    
    
}
.menu-btn.active{
    display: none;

}
@media screen and (max-width:830px) {
    #banner .logo
    {
        width: 130px;
        top:5%;
        left:5%;
    }
    #banner .text__button-home
    {
      margin-top: 30%;
    }
    #banner .text__button-home h1
    {
        font-size: 30px;
    }
    #banner .text__button-home .btn
    {
          font-size: 15px;
          padding: 5px 5px;
    }
    #banner .text__button-home .btn::before,
    #banner .text__button-home .btn::after
    {
        width: 16%;
    }
    #banner .nav-menu-home
    {
        display: none;
    }
    .menu-btn
    {
        display: block;
    }
    .overlay_responsive.active
    {
        display: block;
    }
}

#course-offer
{
    width: 100%;
    padding: 50px;
    position: relative;
    text-align: center;
    background-color: whitesmoke;
    
}
.post-header
{
    padding: 10px 20px;
    font-size: 50px;
}
.text-header
{
    padding: 10px;
    opacity: 0.5;
}
#course-offer  .course
{
    display: flex;
    padding: 100px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row-reverse;
   
}
#course-offer  .course .course-element
{
    width: 320px;
    background: #ffeee6;
    padding: 10px 10px;
    border-radius: 10px;
    margin:0 10px;
    transition: linear 0.4s;
    margin: auto;
    margin-top: 20px;

}
#course-offer  .course-element> h3
{
  padding: 10px 0;
}
#course-offer  .course-element> p{
    padding: 5px 5px;
}
#course-offer  .course-element:hover
{
    transform: scale(1.1);
    box-shadow: 1px 2px 3px 4px var(--color-bg);
}
@media screen and (max-width:954px) {
    #course-offer
    {
        padding: 5%;
    }
    #course-offer  .course .course-element
    {
      flex-basis: 100%;
      margin: auto;
      margin-top: 20px;

    }
    #course-offer  .course
    {
        padding: 50px 1%;
        margin: auto;
    }
    .post-header {
        padding: 10px 20px;
        font-size: 30px;
    }
}
#global-campus
{
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 50px;
    background: #99c5ff;
}
.destination
{   position: relative;
    padding: 100px 0;
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
   
}
.destination-element
{   position: relative;
    width: 300px;
    height: 500px;
    margin: 0 10px
    
}
.destination .overlay,
.destination-element img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    
}
.cnt-overlay
{   position: relative;
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.destination .overlay
{
    z-index:2;
    background: linear-gradient(to top,var(--color-bg),transparent);
    height: 0;
    overflow: hidden;
    transition: linear 0.25s;
    text-align: center;
    position: relative;
   
}
.destination .overlay h3
{
    margin-top: 60%;
    font-size: 30px;
    color: #fff;
}
.destination-element:hover .overlay
{
    height: 100%;
}
@media screen and (max-width:769px) {
.destination-element
{   
    flex-basis: 300px;
    height: 400px;
    margin: 20px 0px;
     
}
.destination
{
    flex-wrap: wrap;
}
}
#facility
{
    position:  relative;
    top:0;
    left: 0;
    width: 100%;
    padding: 50px 10%;
    text-align: center;
}
#facility .info__about-facilities
{
    position: relative;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 95%;
    margin: auto;
}
#facility .info__about-facilities .info__about__facilities-element
{
    width: 400px;
    height: 400px;
    margin: 10px 10px;
    border-radius: 10px;
    
}
#facility .info__about-facilities .info__about__facilities-element img{
    height: 70%;
    width: 100%;
    border-radius: 10px;
   
}
#facility .info__about-facilities .info__about__facilities-element .text
{
    padding: 10px 10px;
    text-align: justify;
    height: 30%;
}
#facility .info__about-facilities .info__about__facilities-element .text p
{
    padding: 10px 0px;
    font-size: 12px;
    height: 90%;
    overflow-y: scroll;
}
#facility .info__about-facilities .info__about__facilities-element .text h3
{
    font-size: 15px;
}
@media screen and (max-width:769px)
{
    #facility .info__about-facilities
    {
        flex-wrap: wrap;
    }
    #facility .info__about-facilities .info__about__facilities-element
    {  flex-basis: 100%;
        margin-top: 10px;
    }
    #facility .info__about-facilities .info__about__facilities-element:nth-child(1)
    {  
        margin-top: 0x;
    }
}
#comment
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 50px 5%;
    background-color:rgb(192, 229, 240);

}
#comment .comment-student
{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#comment .comment-student  .comment__student-element
{
   flex-basis: 45%;
   height: 150px;
   display: flex;
   background: rgba(175, 135, 132, 0.562);
   padding: 10px 0px;
   border-radius: 10px;
   box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.548);
}
#comment .comment-student  .comment__student-element img{
    height: 100px;
    width: 150px;
    border-radius: 50%;
}
#comment .comment-student  .comment__student-element .text-name
{
    text-align: justify;
    margin: 0px 10px;
    height: 100%;
}
#comment .comment-student  .comment__student-element .text-name p
{
    font-size: 12px;
    height: 50%;
 
  
}
.star__
{
    color:red
}
#comment .comment-student  .comment__student-element .text-name .name
{
    padding: 5px 0;
}
@media screen and (max-width:880px)
{
    #comment .comment-student  .comment__student-element
{
   flex-basis: 100%;
   height: 150px;
   margin-top: 20px;

}
#comment .comment-student
{
    flex-wrap: wrap;
}
#comment .comment-student  .comment__student-element .text-name p
{
    overflow-y: scroll;
}
}
@media screen and (max-width:1000px)
{
    #comment .comment-student  .comment__student-element .text-name p
{
    overflow-y: scroll;
}
}

#contact
{
    position: relative;
    top: 0;
    left: 0;
    margin: 200px auto;
    width: 80%;
    height: 400px;
    border-radius: 10px;
    text-align: center;
}
#contact img
{   position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    left: 0;
    top: 0;
    z-index: 0;
}
#contact .overlay
{   position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background:rgba(5, 5, 5, 0.747) ;
    top: 0;
    left: 0;
}
#contact .btn
{ top: 40%;
  position: relative;
}
#contact .sologan
{
    position: relative;
    font-size: 30px;
    top:30%;
    font-weight: 800;
    color: #fff;
    width:  60%;
    margin: auto;
}
    @media screen and (max-width:864px) {
        #contact .sologan
        {
            top:10%;
            font-size: 20px;
        }
        #contact
        {
           
            width: 97%;
            margin: 50px auto;
            height: 250px;
        }
        #contact .btn
        {   top: 25%;
            font-size: 15px;
            padding: 5px 5px;
        }

}
#about_us
{
    position: relative;
    top: 0;
    left: 0;
    padding: 50px auto;
    width: 100%;
    text-align: center;
}
#about_us .socical .fa
{
    transition: linear .25s;
}
#about_us .fa
{
    color: orangered;
    font-size: 20px;
    margin: 0 10px;
}
#about_us h4
{
padding: 10px 0px;
}
#about_us p
{
    width: 80%;
    margin: auto;
    font-size: 14px;
    opacity: 0.7;
    padding: 10px 10px;
}
.footer
{
    font-size: 14px;
    opacity: 0.7;
    font-weight: 500;
    padding: 10px 10px;

}
#about_us .socical .fa:hover
{
    transform: scale(1.2);
}

