@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --color-bg:rgba(206, 65, 13, 0.596);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#banner
{
    width: 100%;
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
#banner .bg
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 0;

}
#banner .overlay
{
    position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(2, 9, 32, 0.945);
   opacity: 0.5;
   z-index: 1;
}
#banner .logo
{
    position: absolute;
    top:  10%;
    left: 7%;
    z-index: 4;
    width: 200px;
}
#banner .text__button-home
{
    position: relative;
    z-index: 4;
    color: #fff;
    margin: 100px auto;
    padding: 10px 10px;
    width: 100%;
    
    
}
#banner .text__button-home h1
{
    font-size: 40px;
    
    width: 70%;
    margin:0 auto;
    margin-top: 200px;
}


 .btn
{ position: relative;
 color: #fff;
 text-decoration: none;
 top: 60px;
 padding: 10px 30px;
 font-size: 20px;
 border: 2px solid #fff;
 transition: linear 0.2s;
}
 .btn::before
{
    content: "";
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #fff;
    top: 50%;
    left: -15%;
    
}
 .btn::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 20%;
    background-color: #fff;
    top: 50%;
   right: -15%;
}
.btn:hover
{
    background-color:var(--color-bg);
}
#banner .nav-menu-home
{
   position: absolute;
   top:  10%;
   right: 200px;
   z-index: 4;
   display: flex;
   justify-content: space-between;
   width: 25%;
   list-style: none;
}
#banner .nav-menu-home li .nav-element{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0 10px;

}
#banner .nav-menu-home li .nav-element:hover
{
    color: var(--color-bg);
}
/*responsive*/
.menu-responsive
{
    position: fixed;
    width: 60%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    right: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    transform: translateX(100%);
    transition: transform linear 0.2s ;
}
.menu-responsive .close-btn,
.menu-btn
{
    width: 30px;
    position: absolute;
    top:3%;
    right: 10px;
    z-index: 10;
    filter: invert(1);
    
}
.menu-btn
{   position: fixed;

    display: none;
    
}
.menu-responsive .nav-menu-home-responsive
{
    position: absolute;
    top:20%;
    list-style:none;
    left: 10%;
    text-align: justify;
    z-index: 10;
   
}
.menu-responsive .nav-menu-home-responsive li
{
    padding: 20px 10px;
    
}
.menu-responsive .nav-menu-home-responsive li .nav-element
{
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}
.menu-responsive .nav-menu-home-responsive li .nav-element:hover
{
    color: var(--color-bg);
}
.overlay_responsive
{
   position: fixed;
   background: rgba(8, 7, 7, 0.76);
   height: 100%;
   top: 0;
   left: 0;
   width: 60%;
   z-index: 4;
   opacity: 0;
   transition: all linear .25s ;
   display: none;
   
}
.menu-responsive.active
{
    transform: translateX(0%);
}
.overlay_responsive.active
{
    opacity: 1;
    
    
    
}
.menu-btn.active{
    display: none;

}
@media screen and (max-width:830px) {
    #banner .logo
    {
        width: 130px;
        top:5%;
        left:5%;
    }
    #banner .text__button-home
    {
      margin-top: 30%;
    }
    #banner .text__button-home h1
    {
        font-size: 30px;
        margin-top: 0px;
    }
    #banner .text__button-home .btn
    {
          font-size: 15px;
          padding: 5px 5px;
    }
    #banner .text__button-home .btn::before,
    #banner .text__button-home .btn::after
    {
        width: 16%;
    }
    #banner .nav-menu-home
    {
        display: none;
    }
    .menu-btn
    {
        display: block;
    }
    .overlay_responsive.active
    {
        display: block;
    }
}
#facility
{
    position:  relative;
    top:0;
    left: 0;
    width: 100%;
    padding: 50px 10%;
    text-align: center;
}
#facility .info__about-facilities
{
    position: relative;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 95%;
    margin: auto;
}
#facility .info__about-facilities .info__about__facilities-element
{
    width: 400px;
    height: 400px;
    margin: 10px 10px;
    border-radius: 10px;
    
}
#facility .info__about-facilities .info__about__facilities-element img{
    height: 70%;
    width: 100%;
    border-radius: 10px;
   
}
#facility .info__about-facilities .info__about__facilities-element .text
{
    padding: 10px 10px;
    text-align: justify;
    height: 30%;
}
#facility .info__about-facilities .info__about__facilities-element .text p
{
    padding: 10px 0px;
    font-size: 12px;
    height: 90%;
    overflow-y: scroll;
}
#facility .info__about-facilities .info__about__facilities-element .text h3
{
    font-size: 15px;
}
@media screen and (max-width:769px)
{
    #facility .info__about-facilities
    {
        flex-wrap: wrap;
    }
    #facility .info__about-facilities .info__about__facilities-element
    {  flex-basis: 100%;
        margin-top: 10px;
    }
    #facility .info__about-facilities .info__about__facilities-element:nth-child(1)
    {  
        margin-top: 0x;
    }
}
#course-offer
{
    width: 100%;
    padding: 50px;
    position: relative;
    text-align: center;
    background-color: whitesmoke;
    
}
.post-header
{
    padding: 10px 20px;
    font-size: 50px;
}
.text-header
{
    padding: 10px;
    opacity: 0.5;
}
#course-offer  .course
{
    display: flex;
    padding: 100px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row-reverse;
   
}
#course-offer  .course .course-element
{
    width: 320px;
    background: #ffeee6;
    padding: 10px 10px;
    border-radius: 10px;
    margin:0 10px;
    transition: linear 0.4s;
    margin: auto;
    margin-top: 20px;

}
#course-offer  .course-element> h3
{
  padding: 10px 0;
}
#course-offer  .course-element> p{
    padding: 5px 5px;
}
#course-offer  .course-element:hover
{
    transform: scale(1.1);
    box-shadow: 1px 2px 3px 4px var(--color-bg);
}
@media screen and (max-width:954px) {
    #course-offer
    {
        padding: 5%;
    }
    #course-offer  .course .course-element
    {
      flex-basis: 100%;
      margin: auto;
      margin-top: 20px;

    }
    #course-offer  .course
    {
        padding: 50px 1%;
        margin: auto;
    }
    .post-header {
        padding: 10px 20px;
        font-size: 30px;
    }
}
#content-aboutus
{

    display: flex;
    width: 80%;
    margin: 150px auto;
    justify-content: space-around;
   
   

}

#content-aboutus img
{  
    height: 400px;
    width: 400px;
    flex-basis: 45%;
    margin-left: 50px;
}
#content-aboutus .area-content
{
    width: 40%;
    top: 0;
    left: 0;

}
#content-aboutus .area-content p
{
    height: 60%;
    overflow-y: scroll;
}
#content-aboutus .area-content h1
{  
    top: 0;
   font-size: 40px;
   padding-bottom: 30px;
}
.btn::before,
.btn::after
{
    background: var(--color-bg);
}
.btn
{  
    border-color: var(--color-bg);
    color:var(--color-bg)
}
.btn:hover{
    color: white;
}
@media screen and (max-width:864px) {

    #content-aboutus
    {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding: 50px 0;
        margin: 0 auto;
        min-height: 50vh;
    }
    #content-aboutus img
    {
        height: 300px;
        width: 300px;
        margin: 0 auto;
        flex-basis: 1;
    }
    #content-aboutus .area-content
    {
        flex-basis: 1;
        width: 100%;
        margin: 0 auto 30px;
       
    }
    .btn
    {
        font-size: 15px;
       margin: auto;

    }
    #content-aboutus .area-content h1
    {
        font-size: 30px;
    }
}
#blog-content
{
    position: relative;
    width: 90%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 100px 0px;

}
#blog-content .content
{
    flex-basis: 60%;
}
#blog-content .content .graduation
{
   width: 100%;
}
#blog-content .statistical table 
{
    width: 300px;
    margin-left: 30px;
}
#blog-content .statistical table thead td
{
    text-align: center;
    background: orangered;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
#blog-content .statistical table tbody td:nth-child(1)
{
  text-align: left;
}
#blog-content .statistical table tbody td:nth-child(2)
{
text-align: right;
}
#blog-content .content  form
{
    width: 100%;
    border: 1px black solid;
    margin-top: 30px;
    position: relative;
}
#blog-content .content  form legend
{
    padding: 20px 20px;
}
#blog-content .content  form input
{
    margin:  20px auto;
    display: block;
    width: 95%;
    height: 50px;
    background: rgba(82, 79, 71, 0.13);
}
 form input::placeholder
{
     content: "";
     margin: 0 10px;
     position: absolute;
     line-height: 50px;
     font-size: 15px;
}
#blog-content .content  form textarea
{
    margin:  20px auto;
    display: block;
    width: 95%;
    height: 150px;
    margin-bottom: 70px;
    background: rgba(82, 79, 71, 0.13);
}
#blog-content .content  form textarea::placeholder
{
    content: "";
    margin: 0 10px;
    position: absolute;
    line-height: 50px;
    font-size: 15px;
}
#blog-content .content  form .btn{
    position: relative;
    top:-30px;
    left: 40px;
}
@media screen and (max-width:763px) {
    #blog-content
    {
        flex-wrap: wrap;
    }
    #blog-content .content
    {
        flex-basis: 100%;
    }
    #blog-content .statistical table 
    {
     
        width: 200px;
        margin: 40px auto;
    }
}

#contact__with-us
{
    position: relative;
    top: 0;
    left: 0;
    padding: 50px 0px;
    width: 100%;

    
  
}
#contact__with-us > iframe
{
   
    height: 700px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    
    
}

#contact__with-us .form__contact-us
{
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
#contact__with-us .form__contact-us .address
{
    margin-left: 5%;
    
}
#contact__with-us .form__contact-us .address-element
{margin: 12px 10px;
    display: flex;
}
#contact__with-us .form__contact-us .address-element .fa{
    font-size: 30px;
    margin: 10px 10px;
    color: var(--color-bg);
}
#contact__with-us .form__contact-us .address-element .text{
    margin: 0 10px;
}
#contact__with-us .form__contact-us .address-element .text P:nth-child(1)
{
    margin: 5px 0;
    font-size: 20px;
}
#contact__with-us .form__contact-us .address-element .text P:nth-child(2)
{
    font-size: 14px;
    opacity: 0.7;
}
#contact__with-us .form__contact-us .form
{
   
   
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

}
#contact__with-us .form__contact-us .form input
{
    margin: 10px 0px;
    height: 40px;
}
#contact__with-us .form__contact-us .form textarea
{
    height: 150px;
}
#contact__with-us .form__contact-us .form .btn
{
    width: 200px;
    font-size: 15px ;
    text-align: center;

}
@media screen and (max-width:763px) 
{
    #contact__with-us > iframe
    {
        height: 300px;
    }
    #contact__with-us .form__contact-us
    {
        flex-direction: column-reverse;
    }
    #contact__with-us .form__contact-us .form
    {
        width: 250px;
        margin: auto;

      
    }
    #contact__with-us .form__contact-us .address-element .fa
    {
        font-size: 25px;
    }
    #contact__with-us .form__contact-us .address-element .text P:nth-child(1)
    {
        margin: 5px 0;
        font-size: 15px;
    }
    #contact__with-us .form__contact-us .address
    {
        margin-top: 150px;
        text-align: left;
        
    }
    #contact__with-us .form__contact-us .form .btn
    {
        width: 150px;
        font-size: 10px;
    }
}
#about_us
{
    position: relative;
    top: 0;
    left: 0;
    padding: 50px auto;
    width: 100%;
    text-align: center;
}
#about_us .socical .fa
{
    transition: linear .25s;
}
#about_us .fa
{
    color: orangered;
    font-size: 20px;
    margin: 0 10px;
}
#about_us h4
{
padding: 10px 0px;
}
#about_us p
{
    width: 80%;
    margin: auto;
    font-size: 14px;
    opacity: 0.7;
    padding: 10px 10px;
}
.footer
{
    font-size: 14px;
    opacity: 0.7;
    font-weight: 500;
    padding: 10px 10px;

}
#about_us .socical .fa:hover
{
    transform: scale(1.2);
}

